.sessao_formulario_login {
    display: flex;
    margin: 50px 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sessao_formulario_login input {
    padding-left: 10px;
}

.formulario_login {
    max-width: 500px;
    width: 90%;
    height: 600px;
    display: flex;
    background-color: var(--cinza2);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    margin: 50px 10px;
}


.formulario_login label,
.formulario_cadastro label {
    max-width: 350px;
    width: 68%;
    height: 10px;
}



.formulario_cadastro {
    max-width: 500px;
    width: 90%;
    background-color: var(--cinza2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 50px 10px;
    padding-top: 50px;
}

.formulario_cadastro h2 {
    margin-bottom: 25px;
}

.formulario_botao {
    max-width: 150px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font1);
    color: var(--roxo);
    border: 3px solid var(--roxo);
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.btn_goole {
    color: #9319CC;
}

.formulario_login a {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-family: var(--font1);
    color: var(--roxo);
    border: 3px solid var(--roxo);
    border-radius: 35px;
    margin: 20px 0 40px 0;
    padding: 10px 30px;

}

.formulario_login a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.formulario_login h2 {
    margin-bottom: 30px;
}


main input {
    max-width: 350px;
    width: 75%;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #6c6b6b;
}

.opcao {
    width: 90%;
    max-width: 350px;
    display: flex;
    justify-content: space-evenly;
}

.opcao_doador,
.opcao_coletor {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.opcao label {
    width: 100%;
    margin-left: 5px;
}

main input[type="radio"] {
    width: 20px;
    height: 18px;
}

main label {
    display: flex;
    font-size: 16px;
    font-family: var(--font2);
    text-align: left;
}




/* ### RESPONSIVIDADE ### */


@media screen and (max-width: 812px) {
    .sessao_formulario_login {
        margin: 50px 20px;
    }

}


@media screen and (max-width: 580px) {
    .sessao_formulario_login {
        margin: 20px 10px;
    }

    .opcao {
        width: 70%;
    }

    .formulario_login a {
        width: 70%;
        font-size: 14px;
        margin: 20px 0 40px 0;
        padding: 5px 15px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 532px) {
    .formulario_botao {
        min-width: 125px;
    }

    .formulario_cadastro h2,
    .formulario_login h2 {
        padding: 0 7px;
        text-align: center;
    }

    .opcao label {
        width: 100%;
        height: fit-content;
        margin-left: 5px;
        font-size: small;
    }
}

@media screen and (max-width: 435px) {

    .formulario_login>h2,
    .formulario_cadastro>h2 {
        font-size: 22px;
    }

    .formulario_login a {
        text-align: center;
    }

    main label {
        font-size: 14px;
    }

    input::placeholder {
        font-size: 12px;
    }

    .formulario_login label,
    .formulario_cadastro label {
        height: 5px;
    }

    .formulario_login a {
        width: 65%;
    }

}

@media screen and (max-width: 375px) {
    .formulario_login>h2 {
        width: 190px;
    }

    .formulario_cadastro>h2 {
        width: 192px;
    }

    .formulario_login>a>img {
        width: 25px;
        height: 25px;

    }

    .formulario_login>a {
        padding: 5px 10px;
    }

    .formulario_botao {
        min-width: 125px;
    }

    .formulario_botao {
        font-size: 14px;
    }

    .opcao {
        flex-direction: column;
    }

    .opcao>div:nth-child(1) {
        margin-bottom: 5px;
    }
}