
#mainQueroDoarParte1 .conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}

#mainQueroDoarParte1 .menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#mainQueroDoarParte1 .title{
    padding-bottom: 40px;
}

#mainQueroDoarParte1 .title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

#mainQueroDoarParte1 .title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}

#mainQueroDoarParte1 .margem_Conteudo{
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 2rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

#mainQueroDoarParte1 .btnVoltar{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#mainQueroDoarParte1 .btnVoltar > a{
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;
}

#mainQueroDoarParte1 .Conteudo{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.parte_de_cima, .parte_de_baixo{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.parte_de_cima > div, .parte_de_baixo > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.parte_de_cima img, .parte_de_baixo img{
    width: 90%;
    max-width: 340px;
    border-radius: 20px;
}

.parte_de_cima p, .parte_de_baixo p{
    font-family: var(--font2);
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}


@media screen and (max-width: 1072px) {

    #mainQueroDoarParte1 .conteudo_doacoes{

        column-gap: 1rem;
        grid-template-columns: minmax(210px,0.15fr) 1fr;
        /* padding: 60px 0; */
    }

    #mainQueroDoarParte1 .title{
        padding-bottom: 30px;
    }
    
    #mainQueroDoarParte1 .title h2{
        font-size: 1.6rem;
    }
    
    #mainQueroDoarParte1 .title p{
        font-size: 0.8rem;
    }

    #mainQueroDoarParte1 .btnVoltar > a{
        font-size: 15px;
    }

    #mainQueroDoarParte1 .btnVoltar{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 812px) {

    #mainQueroDoarParte1 .Conteudo{
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        row-gap: 3rem;
    }
    .wrapper{
        width: 95%;
    }
}

@media screen and (max-width: 580px) {


    .parte_de_cima, .parte_de_baixo {
        flex-wrap: wrap;
        padding: 0;
    }

    #mainQueroDoarParte1 .conteudo_doacoes{
        padding: 25px 0;
        column-gap: 0.5rem;
        grid-template-columns: minmax(188px,0.15fr) 1fr;
        grid-template-rows: 100px 1fr;
    }

    #mainQueroDoarParte1 .menu_Direito{
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    #mainQueroDoarParte1 .title{
        padding-top: 25px;
        text-align: center;
    }

}
