

#mainDoacoesFinalizadas .conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}


#mainDoacoesFinalizadas .menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}


.title{
    padding-bottom: 40px;
}

.title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

.title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}


#mainDoacoesFinalizadas .links_pags{
    padding-bottom: 0.6rem;
}


#mainDoacoesFinalizadas .links_pags a{
    border-radius: 9px;
    border: 2px solid rgba(156, 156, 156, 0.80);  
    padding: 1px 7px;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--cinza);
}

#mainDoacoesFinalizadas .links_pags span{
    font-size: 22px;
    font-family: var(--font1);
    color: var(--cinza);
}


#mainDoacoesFinalizadas .links_pags a:nth-child(3){
    border: 3px solid var(--roxo);
    color: var(--roxo);
}


.historic_cards{
    border: 2px solid rgb(156, 156, 156, 0.7);
    border-radius: 20px;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}


#mainDoacoesFinalizadas .Conteudo_Cards{
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: var(--font2);
    font-size: 40px;
    text-align: center;
    color: var(--cinza);
    font-weight: 900;
    padding: 200px 100px;
}

.imgCadeado{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}


/* ### Seção @Media ### */


@media screen and (max-width: 1072px) {
    #mainDoacoesFinalizadas .conteudo_doacoes{

        column-gap: 1rem;
        grid-template-columns: minmax(210px,0.15fr) 1fr;
        /* padding: 60px 0; */
    }


    .title{
        padding-bottom: 30px;
    }
    
    .title h2{
        font-size: 1.6rem;
    }
    
    .title p{
        font-size: 0.8rem;
    }

    .links_pags a{
        font-size: 17px;
    }
    
    .links_pags span{
        font-size: 19px;
    }
}

/* @media screen and (max-width: 1010px) {
} */

@media screen and (max-width: 812px) {

    #mainDoacoesFinalizadas .Conteudo{
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        row-gap: 3rem;
    }

    #mainDoacoesFinalizadas .Conteudo_Cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 5rem;
        margin-bottom: 100px;
    }

    #mainDoacoesFinalizadas .links_pags a{
        font-size: 14px;
        padding: 1px 4px;
    }
    
    .wrapper{
        width: 95%;
    }

}


@media screen and (max-width: 580px) {

    .logoImg{
        width: 90%;
        height: 90%;
    }
    

    #mainDoacoesFinalizadas .conteudo_doacoes{
        padding: 25px 0;
        column-gap: 0.5rem;
        grid-template-columns: minmax(188px,0.15fr) 1fr;
        grid-template-rows: 100px 1fr;
    }

    #mainDoacoesFinalizadas .menu_Direito{
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    .links_pags span{
        padding: 0 5px;
    }

    .title{
        padding-top: 25px;
        text-align: center;
    }

    .links_pags{
        display: flex;
        justify-content: center;
    }
}
