.card{
    display:flex;
    width: 90%;
    /* height:320px; */
    margin-top: 20px;
    margin-bottom: 10px;
}
.cardEsquerda{
    /* background-color: #9F2FBB; */
    width: 50%;
}
.cardEsquerda>h2{
    font-family: var(--font1);
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.cardEsquerda>img{
    width: 95%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cardEsquerda>p{
    font-family: var(--font2);
    font-size: 18px;
    /* background-color: #045328; */
}
.cardDireita{
    width: 100%;
    margin-left: 20px;
    /* display: flex;
    justify-content: space-between; */
    /* background-color: #045328; */

}
.cardDireitaConteudo{
    /* background-color: purple; */
    width: 90%;
    height: 100%;
    font-family: var(--font2);
    font-size: 13px;

}
.cardDireitaConteudo>h2{
    font-family: var(--font1);
    font-size: 22px;
}    
.cardDireitaConteudo>p{
    padding: 3px 0;
}
.cardDireitaConteudo>div{
    /* display: flex; */
    /* justify-content: space-between; */
    /* background-color: aqua; */
    width: fit-content;
    font-family: var(--font2);
    font-size: 13px;
    padding: 3px 0;
}
.cardDireitaConteudo>div>div{
    /* background-color: #045328; */
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: var(--font2);
    font-size: 13px;
    padding: 3px 0;
}
