#mainColetasAgendadas .conteudo_doacoes {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px, 0.25fr) 1fr;
    padding: 60px 0;
}

#mainColetasAgendadas .menu_Direito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



#mainColetasAgendadas .title {
    padding-bottom: 40px;
}

#mainColetasAgendadas .title h2 {
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

#mainColetasAgendadas .title p {
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}


#mainColetasAgendadas .links_pags {
    padding-bottom: 0.4rem;
}


#mainColetasAgendadas .links_pags a {
    border-radius: 9px;
    border: 2px solid rgba(156, 156, 156, 0.80);
    padding: 1px 7px;
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--cinza);
}

#mainColetasAgendadas .links_pags span {
    font-size: 22px;
    font-family: var(--font1);
    color: var(--cinza);
}


#mainColetasAgendadas .links_pags a:nth-child(1) {
    border: 2px solid var(--verde2);
    color: var(--verde2);
}




#mainColetasAgendadas .historic_cards {
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}


#mainColetasAgendadas .Conteudo_Cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 5rem;
    margin-bottom: 100px;
}


@media screen and (max-width: 1072px) {

    #mainColetasAgendadas .conteudo_doacoes {

        column-gap: 1rem;
        grid-template-columns: minmax(210px, 0.15fr) 1fr;
        /* padding: 60px 0; */
    }

    #mainColetasAgendadas .title {
        padding-bottom: 30px;
    }

    #mainColetasAgendadas .title h2 {
        font-size: 1.6rem;
    }

    #mainColetasAgendadas .title p {
        font-size: 0.8rem;
    }

    #mainColetasAgendadas .links_pags a {
        font-size: 17px;
    }

    #mainColetasAgendadas .links_pags span {
        font-size: 19px;
    }

}

@media screen and (max-width: 812px) {

    #mainColetasAgendadas .Conteudo_Cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 5rem;
        margin-bottom: 100px;
    }

    #mainColetasAgendadas .links_pags a {
        font-size: 14px;
        padding: 1px 4px;
    }

    #mainColetasAgendadas .wrapper {
        width: 95%;
    }

}

@media screen and (max-width: 580px) {
    #mainColetasAgendadas .conteudo_doacoes {
        padding: 25px 0;
        column-gap: 0.5rem;
        grid-template-columns: minmax(188px, 0.15fr) 1fr;
        grid-template-rows: 100px 1fr;
    }

    #mainColetasAgendadas .menu_Direito {
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    #mainColetasAgendadas .links_pags span {
        padding: 0 5px;
    }

    #mainColetasAgendadas .title {
        padding-top: 25px;
        text-align: center;
    }

    #mainColetasAgendadas .links_pags {
        display: flex;
        justify-content: center;
    }
}
