    .faq-title {
    margin: 0 35px 0 0;
}

h3 {
    font-family: var(--font1);
    font-size: 20px;
}


.faq-text {
    /* display: bloc; */
    margin: 25px 0 0;
    text-align: justify;
    font-family: var(--font2);
    font-size: 10px;
}

.ativo{
    display: none
}

.faq-toggle {
    background-color: var(--verde1);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: none;
}

.faq.active .faq-toggle {
    background-color: #9e3c2f;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq-toggle .fa-chevron-down {
    color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}



@media screen and (max-width: 532px) {
    .faq-title {
        margin: 0 51px 0 0;
        }

        h3 {
            font-size: 15px;
        }
}
