#mainAgendarColeta .conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}


#mainAgendarColeta .conteudoPublicacoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.headerPublicacoes{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
}
.headerPublicacoes>h2{
    font-family: var(--font1);
    font-size: 25px;
}
.headerPublicacoes>p{
    font-family: var(--font2);
    font-size: 15px;
    color: #9C9C9C;
    margin-bottom: 50px;
}
#mainAgendarColeta .containerCard{
    width: 90%;
    border: 1px solid rgba(156, 156, 156, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #EAF207; */
    margin-bottom: 100px;
}



#mainAgendarColeta .cardBottom{
    /* background-color: #045328; */
    width: 90%;
}
#mainAgendarColeta .cardBottomPt1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /* background-color: aqua; */
}
.cardBottomPt1>div:nth-child(1){
    /* background-color: #9F2FBB; */
    display: flex;
    flex-direction: column;
    width: 45%;
}
#mainAgendarColeta .cardBottomPt1>div:nth-child(1)>textarea{
    /* background-color: #9F2FBB; */
    width: 100%;
    height: 35px;
    border: 1px solid #9C9C9C;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    /* margin-right: 10px; */
    /* background-color: #EAF207; */
}
#mainAgendarColeta .cardBottomPt1>div:nth-child(2){
    /* background-color: #9F2FBB; */
    width: 45%;
    display: flex;
    flex-direction: column;
}
#mainAgendarColeta .cardBottomPt1>div:nth-child(2)>textarea{
    /* background-color: #9F2FBB; */
    width: 100%;
    height: 35px;
    border: 1px solid #9C9C9C;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    /* background-color: #9319CC; */
}
#mainAgendarColeta .cardBottomPt2{
    display: flex;
    flex-direction: column;  
}
#mainAgendarColeta .cardBottomPt2>textarea{
    /* background-color: #9319CC; */
    height: 200px;
    border: 1px solid #9C9C9C; 
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
#mainAgendarColeta .containerCard>a{
    align-self: flex-end;
    border-radius:10px;
    border: 3px solid #9F2FBB; 
    padding: 5px 100px;
    text-transform: uppercase;
    font-family: var(--font2);
    font-size: 11px;
    font-weight: bold;
    color: #9F2FBB;
    margin-right: 50px;
    margin-top: 30px;
}

@media screen and (max-width: 1072px) {
    
}