

#mainBuscarPublicacoes .conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}

#mainBuscarPublicacoes .menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



#mainBuscarPublicacoes .title{
    padding-bottom: 40px;
}

#mainBuscarPublicacoes .title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

#mainBuscarPublicacoes .title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}

#mainBuscarPublicacoes .cardAgendar{
    display:flex;
    border: 10px;
    border-radius: 10px;
    box-shadow: 4px 7px 4px 2px rgba(0, 0, 0, 0.25); 
    width: 90%;
    /* margin-top: 20px; */
    margin-bottom: 50px;
}
#dois>.conteudoCard>.cardInformacao>h2{
    font-size: 18px;
}
#quatro{
    margin-bottom: 80px;
}


#mainBuscarPublicacoes .conteudoCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#mainBuscarPublicacoes .cardInformacao>h2{
    font-family: var(--font1);
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
#mainBuscarPublicacoes .cardInformacao>p{
    font-family: var(--font2);
    font-size: 10px;
    margin-bottom: 5px;
}
#mainBuscarPublicacoes .cardInformacao>p:nth-child(5){
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
}
#mainBuscarPublicacoes .cardInformacao>div{
    display: flex;
    font-family: var(--font2);
    font-size: 10px;
    margin-bottom: 20px;
}
#mainBuscarPublicacoes .cardInformacao>div>div{
    margin-left: 10px;
}
#mainBuscarPublicacoes .conteudoCard>a{
    align-self: flex-end;
    border-radius:30px;
    border: 3px solid var(--roxo); 
    padding: 3px 12px;
    text-transform: uppercase;
    font-family: var(--font2);
    font-size: 11px;
    font-weight: bold;
    color: #9F2FBB;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: .35s
}

#mainBuscarPublicacoes .conteudoCard>a:hover{
    background: var(--roxo);
    color: var(--branco);
    transform: scale(1.05);
}



#mainBuscarPublicacoes .cardAgendar img {
    width: 100%;
    height: 100%;
    border-radius:10px 0 0 10px;
}

#mainBuscarPublicacoes .cardAgendar div:nth-child(1){
    margin-right: 20px;
}