aside ul{
    list-style-type: none;
    color: black;
}

/* ####### ESPAÇO ENTRE SEGUNDO E TERCEIRO LI ########## */
aside li:nth-child(2){
    padding: 1rem 0;
}



aside a{
    color: black;
    font-family: var(--font2);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0 15px;   
}
