.conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}


.menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



.title{
    padding-bottom: 40px;
}

.title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

.title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}


.margem_Doacao{
    border: 1px solid var(--cinza);
    /* width: 90%; */
    border-radius: 20px;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

.btnVoltar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnVoltar > a{
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;

    /* &:active{
        transform: translateY(2px);
        &::before{
            animation: Press;
        }
    } */
}

.dados_doacao1{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
}



.dados_doacao1 div:first-child{
    margin-right: 30px;
}

.dados_doacao1 > img{
    width: 90%;
    /* max-width: 310px; */
}


.dados_doacao1 h5{
    font-family: var(--font2);
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 15px;
    max-width: 310px;
    text-transform: capitalize;
}

.dados_doacao1 img{
    border-radius: 15px;
}

.dados_doacao1 h4, .dados_parceiro h4, .dados_horario h4, .dados_responsavel h4{
    font-family: var(--font2);
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 34px;
}

.dados_doacao1 p, .dados_parceiro p, .dados_horario p .dados_responsavel p{
    font-family: var(--font2);
    font-size: 13px;
}

.dados_responsavel p{
    margin-bottom: 150px;
}

.dados_doacao1 span{
    padding-left: 30px;
    padding-bottom: 10px;
}

.dados_parceiro{
    padding-bottom: 30px;
}

.dados_horario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dados_horario div{
    width: 30%;
    max-width: 500px;
}

.dados_horario span, .form_obs label {
    font-size: 15px;
    font-weight:600 ;
    font-family: var(--font1);
}

.form_obs label {
    width: 100%;
}

.dados_horario div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form_obs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_obs textarea{

    border: 1px solid var(--cinza);
    border-radius: 10px;
    font-family: var(--font2);
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0 0 10px;
    resize: vertical;
    width: 100%;
    margin-bottom: 40px;
}

.btnVoltar{
    display: flex;
    justify-content: space-around;
}

.btnVoltar a{
    color: var(--roxo);
    font-size: 20;
    font-weight: 800;
    font-family: var(--font1);
    text-transform: uppercase;
    padding: 4px 70px;
}
