h1{
    position:absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}


.conteudo_doacoes{
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px,0.25fr) 1fr;
    padding: 60px 0;
}

aside ul{
    list-style-type: none;
    color: black;
}

/* ####### ESPAÇO ENTRE SEGUNDO E TERCEIRO LI ########## */
aside li:nth-child(2){
    padding: 1rem 0;
}



aside a{
    color: black;
    font-family: var(--font2);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0 15px;   
}



/* ####### Estilização do Elemento selecionado no ASIDE ########## */

aside li:nth-child(3) a  {
    color:var(--roxo);
    font-weight: 900;
    border: 3px solid var(--roxo);
    border-radius: 10px;
    padding: 5px 15px;
    background: rgba(159, 47, 187, 0.30);
}

.menu_Direito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}



.title{
    padding-bottom: 40px;
}

.title h2{
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

.title p{
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
}



.margem_Conteudo{
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 2rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

.btnVoltar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.btnVoltar > a{
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight:800;
    text-transform: uppercase;
}




.Conteudo{
    display: flex;
    justify-items: center;
    margin-bottom: 100px;
}




.nada_consta {
    border: 3px solid #9c9c9c;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-bottom: 50px; */
    padding: 30px;
}

.nada_consta input {
    width: 300px;

}

.nomeMarca {
    border-radius: 10px;
    padding-bottom: 30px;
    /* justify-content: space-between; */
}

/* .nomeMarca form input{
    padding-bottom: 30px;
} */

.nomeMarca label {
    display: flex;
    flex-direction: column;
    font-family: var(--font1);
    font-size: 20px;
}

.nomeMarca input {
    width: 1080px;
}

.regiao {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.regiao input {
    width: 820px;
}

.regiao .uf {
    padding-right: 20%;
}

.selecao {
    width: 250px;
    border: 1px solid #9C9C9C;
    border-radius: 10px;
   
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

.cidade {
    width: 500px;
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

.descricao {
    padding-bottom: 30px;
}

.descricao label {
    font-family: var(--font1);
    font-size: 20px;
}

textarea {
    width: 884px;
    padding-bottom: 30px;
}

.data {
    font-family: var(--font1);
    font-size: 20px;
    padding-bottom: 30px;
}

.agendamento {
    padding-bottom: 30px;
}

.horario {
    font-family: var(--font1);
    font-size: 20px;
    padding-bottom: 30px;
}

.tipo {
    font-family: var(--font1);
    font-size: 20px;
}

.tipoEletronico {
    padding-bottom: 30px;
}

.celular .computador .monitor .perifericos .baterias .outros {
    font-family: var(--font2);
    /* font-size: 51px; */
}

.condicoes {
    font-family: var(--font1);
    font-size: 20px;
}

.condicoesMateriais {
    padding-bottom: 30px;
}

.qtdItens {
    font-family: var(--font1);
    font-size: 20px;
}

.itens {
    padding-bottom: 30px;
}

.arquivos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.adicionarFotos {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #9c9c9c;
    border-radius: 20px;
}

.arquivos img {
    max-width: 100%;
    max-height: 100%;
}

.adicionarFotos button {
    height: 50px;
    width: 100%;
    border-radius: 0px 0px 18px 18px;
    /* border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px; */
    border-end-end-radius: 0px 0px 18px 18px;
    background-color: #045328;
    /* border-radius: 5px; */
    font-family: var(--font2);
    font-size: 20px;
    color: var(--branco);
}





.alinhamentoImg {
    /* display: flex; */
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    width: 542px;
    padding-left: 4%;
    border: 3px solid #9c9c9c;
    border-radius: 20px;
    flex-direction: row;
    display: grid;
    grid-template-columns: 33% 34% 38%;
    grid-auto-columns: 141%;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.alinhamentoImg img {
    justify-content: stretch;
    align-items: center;
}

.botao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btnSalvar {
    border: 5px solid #9319CC;
    border-radius: 15px;
    padding: 10px 150px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font1);
    color: #9319CC;
}

.btnCancelar {
    border: 5px solid #9319CC;
    border-radius: 15px;
    padding: 10px 150px;
    font-size: 20px;
    /* font-weight: 800; */
    font-weight: bold;
    font-family: var(--font1);
    color: #9319CC;
} 

.input {
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    width: 461px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
}

textarea {
    border: 1px solid #9C9C9C;
    border-radius: 10px;
    width: 976px;
    height: 300px;
    font-family: var(--font2);
    font-size: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input {
    font-family: var(--font2);
    font-size: 16px;
}
