
.margem_Conteudo {
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 2rem 0;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
    height: auto;
}

.btnVoltar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.btnVoltar>a {
    border-radius: 15px;
    border: 4px solid purple;
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.Conteudo {
    display: flex;
    justify-items: center;
    margin-bottom: 25px;
    flex-direction: column;

}


.faqs-container {
    margin: 0 auto;
    max-width: 800px;
}

.faq {
    background-color: transparent;
    border: 4px solid var(--verde1);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s ease;
}

/* h3 {
    font-family: var(--font1);
    font-size: 20px;
} */

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::after,
.faq.active::before {
    color: #2ecc71;
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}




/* ### Seção @Media ### */


@media screen and (max-width: 1072px) {

    .title h2 {
        font-size: 1.6rem;
    }

    .title p {
        font-size: 0.8rem;
    }



    .btnVoltar>a {
        font-size: 15px;
    }
}

@media screen and (max-width: 812px) {


    .Conteudo {
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        row-gap: 3rem;
    }

    
    .wrapper {
        width: 95%;
    }

}


@media screen and (max-width: 580px) {
    .title {
        padding-top: 25px;
        text-align: center;
    }
}

@media screen and (max-width: 532px) {
    /* .faq-title {
    margin: 0 51px 0 0;
    
    h3 {
        font-size: 15px;
    }
    
} */
    .faqs-container p {
        font-size: 14px;
    }
    
}