
 .underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EAF207;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  


.btn_entrar, .btn_enviar{
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 50px;
}

.btn_entrar:hover, .btn_enviar:hover{
    background-color: #EAF207;
    color: black;
}

#log_doador2 {
    display: none;
}

.grupo_login {
    position: relative;
}


#menu_login,
#menu_login2,
#menu_notifique2,
#menu_notifique1 {
    display: none;
    flex-direction: column;
    width: 350px;
    background-color: var(--verde1);
    position: absolute;
    top: -10px;
    right: 5px;


    z-index: 3;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#menu_notifique2,
#menu_notifique1 {
    top: -5px;
    right: -40px;
    width: 400px;
}

#menu_login_pt1,
#menu_not_pt1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    width: 100%;
}

#menu_login_pt1>div,
#menu_not_pt1>div {
    height: 100%;


    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_not_pt1>div {
    padding: 15px 0;
}

.Menu_USER_div_text {
    display: flex;
    align-items: center;
}

#menu_login_pt1_img {
    width: 35px;
    height: 35px;
}

#text_Login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    font-family: var(--font1);
    color: var(--branco);
}


#text_Login h5 {
    font-size: 22px;
}

#menu_not_pt1 h5 {
    font-size: 18px;
}

#text_Login p {
    font-size: 14px;
}

#menu_login_pt2,
#menu_not_pt2 {
    margin-bottom: 10px;
}

/* #menu_login_pt2 img{
    width: 90px;
    height: 90px;
    margin-right: 10px;
} */


#menu_not_pt2 img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

#menu_login_pt2 a {
    font-family: var(--font2);
    font-size: 16;
    font-weight: 400;
    color: var(--branco);
}


#menu_login_pt2>div,
#menu_not_pt2 section>div {
    width: 90%;
    margin: 0 auto;
}

#menu_not_pt2 section>div {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

#menu_not_pt2>section:nth-child(1) {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--branco);
}

#menu_not_pt2_Itens {
    display: flex;
    width: 100%;
}

#menu_login_pt2_Itens:first-child {
    /* padding-bottom: 10px; */
}

.conteudo_notifique2 {
    display: flex;
    flex-direction: column;
}

.conteudo_notifique2 span {
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font2);
    padding-bottom: 10px;
    text-align: left;
}

.conteudo_notifique2 p {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font2);
    padding-bottom: 15px;
}

.conteudo_notifique2 strong {
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font2);
}

.btn_notifique2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn_notifique2 a {
    border: 2px solid var(--branco);
    font-size: 11px;
    border-radius: 15px;
    padding: 2px 10px;
}


#menu_login_pt2 div:nth-child(-n+2) {
    padding-bottom: 10px;
}

#menu_login_pt2_Itens {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 15px;
}

#menu_login_pt2_Itens2 {
    padding-top: 40px;
}

#menu_login_pt2_Itens div,
#menu_login_pt2_Itens2 {
    display: flex;
}

.menu_barras {
    display: none;
}

.menu_barras svg {
    fill: var(--branco);
    height: 35px;
}


header nav a {
    font-family: var(--font1);
    color: var(--branco);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}



.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EAF207;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



.log_doador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--branco);
    font-size: 16px;
    font-family: var(--font1);
    font-weight: 800;
}

.grupo_login,
.grupo_login a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--branco);
}

.log_doador>a img {
    height: 25px;
}

#seta_BAXIO {
    height: 12px;
padding-left: 3px;
}

.log_doador>div a p {
    padding-left: 4px;
}

.log_doador a:nth-child(even) {
    padding-left: 10px;
}

.log_doador>p {
    padding: 0 7px 0 5px;
}




.btn_enviar {
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 50px;
}

.btn_enviar:hover {
    background-color: #EAF207;
    color: black;
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}


.conteudo_doacoes {
    display: grid;
    column-gap: 3rem;
    grid-template-columns: minmax(238px, 0.25fr) 1fr;
    padding: 60px 0;
}

aside ul {
    list-style-type: none;
    color: black;
}

/* ####### ESPAÇO ENTRE SEGUNDO E TERCEIRO LI ########## */
aside li:nth-child(2) {
    padding: 1rem 0;
}



aside a {
    color: black;
    font-family: var(--font2);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0 15px;
}



/* ####### Estilização do Elemento selecionado no ASIDE ########## */

aside li:nth-child(2) a {
    color: var(--roxo);
    font-weight: 900;
    border: 3px solid var(--roxo);
    border-radius: 10px;
    padding: 5px 15px;
    background: rgba(159, 47, 187, 0.30);
}

.menu_Direito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}



.title {
    padding-bottom: 40px;
    padding-top: 40px;
}

.title h2 {
    font-family: var(--font2);
    font-size: 2rem;
    text-transform: capitalize;
}

.title p {
    font-family: var(--font2);
    font-size: 1rem;
    color: var(--cinza);
    text-align: justify;
}



.margem_Conteudo {
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 2rem 0;
    padding-left: 4rem;
    padding-right: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--font2);
    height: auto;
}

.btnVoltar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.btnVoltar>a {
    border-radius: 15px;
    border: 4px solid var(--roxo);
    padding: 2px 35px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}




.Conteudo {
    display: flex;
    justify-items: center;
    margin-bottom: 25px;
    flex-direction: column;

}


* {
    box-sizing: border-box;
}

body {
    /* background-color: #f0f0f0; */
    font-family: 'Muli', sans-serif;
}

h1 {
    margin: 50px 0 30px;
    text-align: center;
}

.faqs-container {
    margin: 0 auto;
    max-width: 800px;
}

.faqs-container p {
    font-family: var(--font2);
    font-size: 18px;
}

.faq {
    background-color: transparent;
    border: 4px solid var(--verde1);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s ease;
}

h3 {
    font-family: var(--font1);
    font-size: 20px;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::after,
.faq.active::before {
    color: #2ecc71;
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
    text-align: justify;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: var(--verde1);
    /* background-image: url(../../img/setadown.png); */
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: none;
}

.faq.active .faq-toggle {
    background-color: #9e3c2f;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq-toggle .fa-chevron-down {
    color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}


/* ### Seção @Media ### */


@media screen and (max-width: 1072px) {

    header {
        position: relative;
    }

    .div_headerPosition {
        display: flex;
        justify-content: space-between;
    }

    .menu_barras {
        display: flex;
    }

    #log_doador1 {
        display: none;
    }

    #log_doador2 {
        display: flex;
    }

    .div_headerPosition>div {
        display: flex;
        justify-content: space-between;
    }

    .div_headerPosition>div svg {
        padding-left: 20px;
    }



    #menu_links {
        display: none;
        flex-direction: column;

        position: absolute;
        align-items: center;

        right: 30px;
        top: 80px;
        z-index: 3;

        width: 200px;
        background-color: var(--verde1);
        padding: 5px 0 10px 0;


        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .underline {
        margin: 10px 0 5px 0;
    }


    .title h2 {
        font-size: 1.6rem;
    }

    .title p {
        font-size: 0.8rem;
    }



    .btnVoltar>a {
        font-size: 15px;
    }

    .div_footerPosition {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    .div_footerPosition>div {
        padding: 30px 0;
    }




}

/* @media screen and (max-width: 1010px) {

   

} */

@media screen and (max-width: 812px) {


    .Conteudo {
        grid-template-columns: repeat(1, 1fr);
        /* justify-items: center; */
        row-gap: 3rem;
    }

    
    .wrapper {
        width: 95%;
    }

}


@media screen and (max-width: 580px) {
    .menu_Direito {
        grid-column: 1/3;
        grid-row: 2/4;
        align-items: center;
    }

    .title {
        padding-top: 25px;
        text-align: center;
    }
}

@media screen and (max-width: 532px) {
    .faq-title {
    margin: 0 51px 0 0;
    }

    h3 {
        font-size: 15px;
    }

    .faqs-container p {
        font-size: 14px;
    }
        .foot_midiasBoletim{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot_botetim{
        flex-wrap:wrap;
        justify-content: center;
        width: 100%;
    }

    .foot_botetim input {
        font-size: 14px;
        padding: 4px 40px 4px 10px;
        margin: 0 10px 10px 10px;
        /* width: 90%; */
    }

    .foot_contats > div{
        flex-direction: column;
        align-items: center;
    }

    
}





/* #########      KEYFRAMES    ##########            */


@keyframes Press {
    to {
        /* opacity: 0; */
        transform: scale(1.15, 1.35);
    }
}